/* Estilos para pantallas pequeñas (hasta 600px de ancho) */
@media (max-width: 600px) {
  .container {
    width: 90%; /* Ajustar el ancho del contenedor */
    padding: 20px; /* Reducir el padding */
  }

  h1 {
    font-size: 24px; /* Reducir el tamaño del título */
  }

  input[type="text"] {
    font-size: 16px; /* Reducir el tamaño del texto */
  }

  button {
    font-size: 16px; /* Reducir el tamaño del texto */
  }
}

/* Estilos para pantallas medianas (entre 601px y 900px de ancho) */
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    width: 80%; /* Ajustar el ancho del contenedor */
  }

  h1 {
    font-size: 30px; /* Ajustar el tamaño del título */
  }
}

/* Estilos para pantallas grandes (más de 900px de ancho) */
@media (min-width: 901px) {
  .container {
    width: 60%; /* Ajustar el ancho del contenedor */
  }

  h1 {
    font-size: 36px; /* Ajustar el tamaño del título */
  }
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;

}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #45a049;
}